body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
    font-size: 50pt;
}
#canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.menu {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    place-content: start;
    justify-items: center;
    justify-content: center;
    background: linear-gradient(to top, #fda76d, #ffde84);
    transition: 2s;
}
#file {
    position: absolute;
    left: 3vh;
}
.title {
    display: grid;
    place-items: center;
    font-size: 8vh;
    font-weight: 700;
    margin-top: 3vh;
    background-color: #ff9955;
    color: white;
    padding: 3vh;
    border-radius: 3vh;
    border-color: white;
    border-width: 1vh;
    border-style: solid;
    animation-name: title;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    user-select: none;
}
.toggleUpScreen {
    top: -100vh;
}
.disableTransitions {
    transition: none !important;
}
#hamburgerMenu {
    position: absolute;
    height: 8vh;
    bottom: -8vh;
    font-size: 5vh;
    width: 100vw;
    background-color: #fda76d;
    display: flex;
    place-content: end;
    align-items: center;
}
#hamburgerMenu i {
    margin-left: 6vh;
    margin-right: 3vh;
    cursor: pointer;
    color: white;
}
@keyframes title {
    0% {
        transform: rotate(6deg) scale(0.9);
    }
    25% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(-6deg) scale(0.9);
    }
    75% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(6deg) scale(0.9);
    }
}
.buttons {
    display: grid;
    place-items: center;
    gap: 4vh;
    justify-content: center;
    background-color: #ffdda9;
    font-size: 4vh;
    font-weight: 700;
    padding: 5vh;
    width: 25vw;
    margin-top: 20vh;
    border-radius: 3vh;
    border-color: white;
    border-width: 1vh;
    border-style: solid;
}
.buttonItems {
    background-color: #ff9955;
    color: white;
    display: grid;
    place-items: center;
    width: 25vw;
    padding: 1vh;
    border-radius: 1vh;
    transition: .5s;
    cursor: pointer;
    user-select: none;
    transform: scale(1);
}
.buttonItems:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2vh #f78e51;
}
.playerKeybindMenu {
    background-color: #ff9955;
    position: absolute;
    place-items: center;
    border-radius: 1vh;
    font-size: 2vh;
    top: 30vh; 
    transition: 1s;
    padding: 3vh;
    border-radius: 3vh;
    border-color: white;
    border-width: 1vh;
    border-style: solid;
    width: 18vw;
    height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    pointer-events: all;
}
.playerKeybindMenu input {
    width: 100%;
    font-size: 2vh;
    margin: 0;
    padding: 0;
    height: 3vh;
    border-width: 0;
}
#player1 {
    left: -25vw;

}
#player2 {
    right: -25vw;
}
.toggleSettingsPlayer1 {
    left: 7vw !important;
}
.toggleSettingsPlayer2 {
    right: 7vw !important;
}
h2 {
    margin:0.5vh;
}
h3 {
    margin:0.5vh;
    background-color: black;
    width: 80%;
    font-size: 4vh;
    text-align: center;
}
h2:hover{
    text-decoration: underline;
}
