body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

#level {
    position: fixed;
    bottom: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 300px;
    height: 80vh;
    overflow-y: scroll;
    background-color: #b2b2b2;
    margin: 20px;
    border-radius: 20px;
}

.subLevel {
    background-color: #7a7a7a;
    width: calc(100% - 40px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.subLevel input {
    width: calc(100% - 50px);
}
.subLevel p {
    margin: 5px;
}

#levelDisplay {
    display: grid;
    place-items: center;
}
#levelDisplay div {
    display: flex;
    place-items: center;
}
#brush div label {
    display: grid;
    width: 100%;
    grid-template-columns: 60px 1fr;
    user-select: none;
}